<div class="instagram">
    <div class="container">
        <div class="title">
            <h2>Наш инстаграм</h2>
            <a href=""><img src="assets/images/static/instagram-black-icon.svg" alt="@parisnail_stamping"/>@parisnail_stamping</a>
        </div>
        <div class="instagram_wrapper">
            <a href="" class="ins_item"><img src="assets/images/content/instagram.jpg" alt="insta"/></a>
            <a href="" class="ins_item"><img src="assets/images/content/instagram2.jpg" alt="insta"/></a>
            <a href="" class="ins_item"><img src="assets/images/content/instagram3.jpg" alt="insta"/></a>
            <a href="" class="ins_item"><img src="assets/images/content/instagram4.jpg" alt="insta"/></a>
            <a href="" class="ins_item"><img src="assets/images/content/instagram5.jpg" alt="insta"/></a>
        </div>
    </div>
</div>
