<div class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-content_left">
                <div class="footer-col xs-show">
                    <div class="footer-social">
                        <p>ParisNail в соцсетях</p>
                        <a href=""><img src="assets/images/static/vk-gray.svg" alt=""/></a>
                        <a href=""><img src="assets/images/static/insta-gray.svg" alt=""/></a>
                        <a href=""><img src="assets/images/static/youtube-gray.svg" alt=""/></a>
                    </div>
                </div>
                <div class="footer-col">
                    <ul>
                        <li>Бонусная программа</li>
                        <li>Помощь</li>
                        <li>Доставка и оплата</li>
                        <li>Как сделать заказ</li>
                        <li>Возврат</li>
                        <li>Политика конфиденциальности</li>
                        <li>Ограничения по скидкам</li>
                        <li>Beauty-коины</li>
                        <li>Отзывы о компании</li>
                    </ul>
                </div>
                <div class="footer-col">
                    <ul>
                        <li>О компании</li>
                        <li>Блог</li>
                        <li>Вакансии</li>
                        <li>Условия оплаты банковской картой</li>
                        <li>Условия публичной оферты</li>
                        <li>Сотрудничество</li>
                        <li>Представители</li>
                        <li>Борьба с мошенниками</li>
                        <li>Дипломы и сертификаты</li>
                        <li>Биржа труда</li>
                    </ul>
                </div>
                <div class="footer-col  xs-hidden">
                    <ul>
                        <li>Мобильное приложение</li>
                        <li class="download-app">
                            <a href=""><img src="assets/images/static/applepay.png" alt=""/></a>
                            <a href=""><img src="assets/images/static/google-play.png" alt=""/></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-content_right">
                <div class="footer-col">
                    <div class="footer-social xs-hidden">
                        <p>ParisNail в соцсетях</p>
                        <a href=""><img src="assets/images/static/vk-gray.svg" alt=""/></a>
                        <a href=""><img src="assets/images/static/insta-gray.svg" alt=""/></a>
                        <a href=""><img src="assets/images/static/youtube-gray.svg" alt=""/></a>
                    </div>
                    <div class="pay-method">
                        <p>Способы оплаты</p>
                        <ul class="group-pay">
                            <li class="logo-pay">
                                <img src="assets/images/static/visa.png" alt=""/>
                            </li>
                            <li class="logo-pay">
                                <img src="assets/images/static/master.png" alt=""/>
                            </li>

                            <li class="logo-pay">
                                <img src="assets/images/static/paykeep.png" alt=""/>
                            </li>

                            <li class="logo-pay">
                                <img src="assets/images/static/apple.png" alt=""/>
                            </li>
                            <li class="logo-pay">
                                <img src="assets/images/static/google-pay.png" alt=""/>
                            </li>
                        </ul>
                    </div>
                    <div class="other-btns">
                        <ul class="footer-subscribe">
                            <li class="xs-show">Мобильное приложение</li>
                            <li class="download-app xs-show">
                                <a href=""><img src="assets/images/static/apple.png" alt=""/></a>
                                <a href=""><img src="assets/images/static/google-pay.png" alt=""/></a>
                            </li>
                            <li><a href=""><img src="assets/images/static/mail.svg" alt=""/>Подписка на новости</a></li>
                            <li><a href=""><img src="assets/images/static/eye.svg" alt=""/>Версия для слабовидящих</a></li>
                            <li><a href=""><img src="assets/images/static/site-map.svg" alt=""/>Карта сайта</a></li>
                        </ul>
                    </div>
                    <a class="feedback-btn">Оставить обратную связь</a>
                </div>
            </div>
        </div>
        <div class="footer-copyright"/>
    </div>
</div>
