<div class="item">
    <div class="item-top">
        <div class="itemCard-photo">
            <img src="assets/images/content/item2.jpg" alt=""/>
        </div>
        <div class="itemCard-descr"><div class="descr-inner">Профессиональная лампа UV/LED Pro 6 48 Вт белая ParisNail</div></div>
        <div class="itemCard-price"><span class="leftSide">Цена</span><span class="rightSide">9 900 ₽</span></div>
        <div class="btn_wrap">
            <button class="cart-btn">В корзину</button>
        </div>

        <div class="itemCardTop">
            <div class="top_new">
                <span>NEW!</span>
            </div>
            <div class="top_top">
                <img src="assets/images/static/top.png" alt=""/>
                <span>ХИТ!</span>
            </div>
            <div class="top_like">
                <img src="assets/images/static/heart.svg" alt="like"/>
            </div>
        </div>
    </div>
    <div class="item-bottom">
        <div class="itemCard-photo">
            <img src="assets/images/content/item2.jpg" alt=""/>
        </div>
        <div class="itemCard-descr"><div class="descr-inner">Профессиональная лампа UV/LED Pro 6 48 Вт белая ParisNail</div></div>
        <div class="itemCard-price"><span class="leftSide">Цена</span><span class="rightSide">9 900 ₽</span></div>
        <div class="btn_wrap">
            <button class="cart-btn">В корзину</button>
        </div>

        <div class="itemCardTop">
            <div class="top_new">
                <span>NEW!</span>
            </div>
            <div class="top_top">
                <img src="assets/images/static/top.png" alt=""/>
                <span>ХИТ!</span>
            </div>
            <div class="top_like">
                <img src="assets/images/static/heart.svg" alt="like"/>
            </div>
        </div>
    </div>

</div>
