<div class="tab_sliders">
    <div class="container">
        <div class="tab_slider_top">
            <div class="buttons_wrapper">
                <div class="left-btns">
                    <button class="tab-btn active">Хиты продаж</button>
                    <button class="tab-btn">Новинки</button>
                    <button class="tab-btn">Скидки</button>
                    <button class="tab-btn">Акции</button>
                </div>
            </div>
            <div class="owl-carousel owl-theme slider-carousel custom-owl-carousel">
                @@include('_item.html')
                @@include('_item.html')
                @@include('_item.html')
                @@include('_item.html')
                @@include('_item.html')
                @@include('_item.html')
            </div>
        </div>
    </div>
</div>
