<div class="categories">
    <div class="container">
        <div class="title">
            <h2>Наши категории</h2>
        </div>
        <div class="categories_wrapper">
            <div class="categorie_item">
                <img src="assets/images/content/categories6.jpg" alt=""/>
                <a class="categorie_btn" href="">Пластины</a>
            </div>
            <div class="categorie_item">
                <img src="assets/images/content/categories7.jpg" alt=""/>
                <a class="categorie_btn" href="">Оборудование</a>
            </div>
            <div class="categorie_item">
                <img src="assets/images/content/categories8.jpg" alt=""/>
                <a class="categorie_btn" href="">Товары для стемпинга</a>
            </div>
            <div class="categorie_item">
            <img src="assets/images/content/categories9.jpg" alt=""/>
                <a class="categorie_btn" href="">Расходники</a>
            </div>
            <div class="categorie_item">
                <img src="assets/images/content/categories10.jpg" alt=""/>
                <a class="categorie_btn" href="">Жидкости</a>
            </div>
        </div>
    </div>
</div>
