@font-face {
 font-family: "FuturaNewDemi-Reg, sans-serif";
 src: url("../fonts/FuturaNewDemi-Reg.woff2") format("woff2"),
       url("../fonts/FuturaNewDemi-Reg.svg") format("svg"),
        url("../fonts/FuturaNewDemi-Reg.woff") format("woff");

}
@font-face {
 font-family: "FuturaNewLight-Reg, sans-serif";
 src: url("../fonts/FuturaNewLight-Reg.woff2") format("woff2"),
       url("../fonts/FuturaNewLight-Reg.svg") format("svg"),
        url("../fonts/FuturaNewLight-Reg.woff") format("woff");

}
@font-face {
 font-family: "FuturaNewBook-Reg, sans-serif";
 src: url("../fonts/FuturaNewBook-Reg.woff2") format("woff2"),
       url("../fonts/FuturaNewBook-Reg.svg") format("svg"),
        url("../fonts/FuturaNewBook-Reg.woff") format("woff");

}
