<header>
    <div class="h-top">
        <div class="container">
            <div class="header-directions">
                <button class="header-tab-btn shop">Магазин</button>
                <button class="header-tab-btn school active">Школа</button>
                <button class="header-tab-btn wholesale">Опт</button>
            </div>
        </div>
    </div>
    <div class="h-middle">
        <div class="container">
            <div class="header-info">
                <div class="header-logo">
                    <img src="assets/images/static/main-logo.svg" alt="logo"/>
                    <div class="city-select">
                        Санкт-Петербург
                    </div>
                </div>
                <div class="header-contacts">
                    <p class="sup-phone">Ежедневно 7:00-22:00 (мск)</p>
                    <p class="phone">8(800)550-98-50</p>
                    <p class="sub-phone"><span>Заказ звонка</span> или <span>чат</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="container">
            <ul class="horizontal-menu school-menu">
                <li><a href="" class="horizontal-menu-link active">Доставка</a></li>
                <li><a href="" class="horizontal-menu-link">Магазины</a></li>
                <li><a href="" class="horizontal-menu-link">Акции</a></li>
                <li><a href="" class="horizontal-menu-link">Распродажа</a></li>
                <li><a href="" class="horizontal-menu-link">О комании</a></li>
                <li><a href="" class="horizontal-menu-link">Контакты</a></li>
                <li><a href="" class="horizontal-menu-link">Товары ParisNail</a></li>
            </ul>
            <div class="dropdown">
                <button class="dropbtn">Еще</button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-dash">
        <div class="container">
            <div class="left-side">
                <div class="burger">
                    <div class="burger-elements-wrapper">
                        <span class="burger-elements-wrapper_top"></span>
                        <span class="burger-elements-wrapper_middle"></span>
                        <span class="burger-elements-wrapper_bottom"></span>
                    </div>
                    <span>Товары</span>
                </div>
                <button class="search-input-btn_outer"><img src="assets/images/static/search.svg" alt=""/></button>
                <div class="search-input-wrapper">
                    <input type="text" value="Найти" class="search-input"/>
                    <button class="search-input-btn"><img src="assets/images/static/search.svg" alt=""/></button>
                </div>

            </div>
            <div class="right-side">
                <div class="right-side_favorites"><a href=""><img src="assets/images/static/heart-black.svg" alt=""/><span>Избранное</span></a></div>
                <div class="right-side_auth"><a href=""><img src="assets/images/static/man.svg" alt=""/><span>Авторизация</span></a></div>
                <div class="right-side_cart"><a href=""><img src="assets/images/static/cart.svg" alt=""/><span>Корзина</span> <span>(666)</span></a></div>
            </div>
        </div>
    </div>
</header>
