<div class="networks">
    <div class="container">
        <h2>Мы в социальных сетях</h2>
        <div class="social_icons">
            <a href=""><img src="/assets/images/static/vk-black-icon.svg" alt=""></a>
            <a href=""><img src="/assets/images/static/instagram-black-icon.svg" alt=""></a>
            <a href=""><img src="/assets/images/static/fb-black-icon.svg" alt=""></a>
        </div>
        <p><b>Санкт-Петербург</b></p>
        <p><b>8 (800) 550-98-50</b></p>
        <p><b>sales_opt@parisnail.ru</b></p>

    </div>
</div>
